<% @image_slideshows.group_by(&:slideshow_type).each do |type, image_slideshow| %>
  <ul class="collection with-header">
    <li class="collection-header"><h4><%= type.titleize %></h4></li>
    <%= render :partial => 'image_slideshow', :collection => image_slideshow %>
  </ul>
<% end %>
